[Unit]
Description=ngrok_client
After=network.target 

[Service]
ExecStart=/root/app/ngrok/ngrok/bin/ngrok -config=/root/app/ngrok/ngrok.yml start amd_ubuntu
ExecStop=/bin/kill -KILL $MAINPID
Type=simple
KillMode=control-group
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

