[Unit]
Description=ngrok_server
After=network.target 

[Service]
ExecStart=/root/app/ngrok/ngrok/bin/ngrokd -httpAddr="" -log-level="ERROR"
ExecStop=/bin/kill -KILL $MAINPID
Type=simple
KillMode=control-group
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
