[Unit]
Description=ngrok_client
After=network.target 

[Service]
ExecStart=/usr/share/ngrok/bin/ngrok -config=/usr/share/ngrok/bin/config.yml start temp
ExecStop=/bin/kill -KILL $MAINPID
Type=simple
KillMode=control-group
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
